/* static/css/base.css */
/* static/css/base.css */


body {
  background-color: rgb(4, 0, 241);
  font-family: verdana;
  font-size: 18px;
}

header h1 a {
  color: rgb(0, 255, 34);
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: rgb(238, 0, 0);
  text-decoration: none;
}


.post-entry p {
  margin: 0;
  font-weight: 400;
}

p{
  color: rgb(255, 0, 234);
}

h2{
  color: indigo;
}